body {
    background-color: #F5F5F5;
}

.ventana {
    -moz-box-shadow:0 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.8);
    box-shadow:0 5px 10px rgba(0,0,0,0.8);

}
.widget-heading-icon {
    display: block;
    float: right;
}

.widget-heading-icon .fa {
    color: #fff;
}
.panel-heading{
    box-shadow: 0px 3px 7px rgba(0,0,0,.1);

}
i.fa {
    font-size: 18px;
}
i.btn-custom[class*="fa"] {
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn-back{
  cursor: pointer;
}
